<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Awesome Podcast</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <!-- Header -->
    <% if(user) { %>
        <header class="header">
            <a href="/" class="logo">My Podcast</a>
              <nav class="navbar">
                  <ul class="nav-links">
                    <li><a href="/users/profile"><%= user.name %></a></li>
                    <li><a href="#episodes">Latest Episodes</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="/users/logout" class="btn btn-red">Logout</a></li>
                  </ul>
              </nav>
            </header>
    <% } else { %>
        <header class="header">
            <a href="/" class="logo">My Podcast</a>
              <nav class="navbar">
                  <ul class="nav-links">
                    <li><a href="/podcasts">Browse Podcasts</a></li>
                    <li><a href="#episodes">Latest Episodes</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="/users/new" class="btn btn-green">Sign Up</a></li>
                    <li><a href="/users/login" class="btn btn-green">Login</a></li>
                  </ul>
              </nav>
            </header>
    <% } %>

  </body>
</html>
